body {
    font-family: Arial;
    background: #f4f7f6;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #2ecc71;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.navbar {
    background: #2ecc71;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 40px;
}

img {
    margin-top: 20px;
    width: 400px;
    border: 2px solid #2ecc71;
}
